{% extends "rest_framework/login_base.html" %}
{% load staticfiles %}

{% block branding %}<h3 style="margin: 0 0 20px;">SparkSeeker</h3>{% endblock %}

{% block extras %}
<div class="container" style="width: 260;">
  <div class="row-fluid">
    <a href="/login/google/"><img width=260 src={% static 'img/google-signin.png' %} /></a>
    <a href="/login/facebook/"><img width=260 src={% static 'img/facebook-signin.png' %} /></a>
  </div><!-- /.row-fluid -->
</div>
{% endblock %}
